<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo1.dao.AreaMapper">
    <!-- 根据city的id来查询所有的区、县 -->
    <select id="showAreaListBycid" parameterType="java.lang.Integer" resultType="com.demo1.entity.Area">
       select * from area where father=#{father}
   </select>
</mapper>